@import "~materialize-css/dist/css/materialize.min.css";

.nav-wrapper {
    padding-left: 20px;
    padding-right: 10px;
}

.btn {
    margin-right: 10px;
}

.card {
    background: #90caf92b;
}

.input-field:first-child {
    margin-bottom: 50px;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.simple-captcha {
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(127, 255, 212, 0.28);
}